<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tasker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.shenkar.ysapir.tasker.GoogleAnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shenkar.ysapir.tasker.WellcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shenkar.ysapir.tasker.LoginActivity" />
        <activity android:name="com.shenkar.ysapir.tasker.TabbedTasksActivity" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="YuV7KfVhhBP0OFCf0XZ6gIHQK48qagMXFqqYn6xE" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="yMT1mTwZXigHdDOtc8PGO3pd7fiUAIHzpRaZ0IN1" />

        <activity
            android:name="com.shenkar.ysapir.tasker.CreateEditTaskActivity"
            android:label="@string/title_activity_create_edit_task"
            android:theme="@style/AppTheme" />
        <activity android:name="com.shenkar.ysapir.tasker.SignUpActivity" />
        <activity
            android:name="com.shenkar.ysapir.tasker.NewTeamActivity"
            android:label="@string/title_activity_new_team"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.shenkar.ysapir.tasker.ReportTaskActivity"
            android:label="@string/title_activity_report_task"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.shenkar.ysapir.tasker.AutoUpdateActivity"
            android:label="@string/title_activity_auto_update"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.shenkar.ysapir.tasker.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme"></activity>
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Enable Google Play Store Campaign reports -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"/>
    </application>

</manifest>
